body {
    padding-top: 56px;
    min-height: 100vh;
    position: relative;
}

.card-body-img {
    height: 128px;
    width: 128px;
    padding-left: 5px;
}

.map-image {
    height: 300px;
    width: 200px;
}

/*
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
*/
