
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<div class="row">
    <div class="col-md-9 mb-5">
        <p>
            We have been offering software development services since 2008.
            We specialise in .NET development and SQL Server, as well as offering
            expertise in cloud deployment and data analysis with R.
        </p>
        <p>
            <strong>Mike Wild</strong> is the Director of Wild Consulting.
            Originally from New Zealand, he worked for several years in Taiwan before returning home,
            and came to the UK over 10 years ago. He lives in Oxford and services customers in the south and around the Midlands.
        </p>
        <p>
            Mike is a highly experienced software developer and consultant specializing in Microsoft .NET C# development and SQL Server databases. He has worked extensively with agile software development methodologies including SCRUM and Government Digital Service agile delivery. 
            He has worked in banking, insurance, publishing, education and IT services in the public and private sectors, at all levels up to managing and leading teams in the United Kingdom, New Zealand, Taiwan, and Saudi Arabia. Mike speak excellent Mandarin Chinese, learned while living in Asia.
        </p>
        <p>
            Mike's current technical interests include machine learning, data analysis and geospatial visualisation with R.
        </p>

        <p>Mikes areas of expertise include:</p>
        <ul>
            <li>.NET coding in C#</li>
            <li>ASP.NET Core 2.2 and 3.0</li>
            <li>Azure development including functions, blob storage and search</li>
            <li>Cloud development and deployment with Azure and AWS</li>
            <li>Continuous Integration with Azure DevOps and Git</li>
            <li>Back-end development with WCF and ASP.NET Core Web API</li>
            <li>SQL Server development</li>
            <li>Familiar with PostgresSQL and CosmosDB</li>
            <li>Database access with Entity Framework Core and AutoMapper</li>
            <li>Agile Development with SCRUM</li>
            <li>Government Digital Service (GDS) agile delivery</li>
            <li>Test-driven development (TDD) with NUnit and xUnit</li>
            <li>Web development with HTML, JavaScript, jQuery, CSS</li>
            <li>WPF and Windows 10 application development with MVVM</li>
            <li>Docker containerization</li>
            <li>Data analysis and visualization with R</li>
            <li>Microsoft Office development using OpenXML and Office 2010 add-ins</li>
            <li>Microsoft BizTalk 2004/2006/2006 R2</li>
        </ul>
    </div>
</div>
