
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact</h1>

<div class="row">
    <div class="col-md-4 mb-5">
        <p>
            We are based in Oxford and available anywhere in the South and the Midlands.
        </p>
        <p>
            <strong>Email us:</strong> <a href="mailto:mike@wildconsulting.co.uk">mike@wildconsulting.co.uk</a>
        </p>
    </div>
    <div class="col-md-5 mb-5">
        @*<img class="map-image" src="~/images/workplacesmap.png" alt="Map of places we've worked" />*@
    </div>
</div>