
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Heading Row -->
<div class="row align-items-center my-5">
    <div class="col-lg-7">
        @* Image downloaded from https://unsplash.com/photos/466ENaLuhLY *@
        <img class="img-fluid rounded mb-4 mb-lg-0" src="~/Content/images/logo.jpg" alt="Header image - Photo by Markus Spiske on Unsplash">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
        <h1 class="font-weight-light">Wild Consulting Limited</h1>
        <p>
            Wild Consulting is a software consulting company based in Oxford. We specialize in .NET development including ASP.NET Core websites
            and Windows WPF and Universal Applications.
        </p>
        <p>
            We also have experience in data with SQL Server and data analysis with R.
        </p>
        @Html.ActionLink("Contact us", "Contact", "Home", null, new { @class = "btn btn-primary" })
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">.NET Core development, SQL and R</p>
    </div>
</div>

<!-- Content Row -->
<!--
    Looking at images like this
    https://www.shutterstock.com/image-vector/vector-set-vertical-banners-code-engineering-754570699
-->

<div class="row">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                @*https://dryicons.com/icon/code-file-icon-5843*@
                <img class="card-body-img" src="~/Content/images/code-file-icon.svg" alt="" />
                <h2 class="card-title">Code</h2>
                <p class="card-text">Writing code is what we do, whether it's front end web development or back end data support.</p>
                <ul class="card-text">
                    <li>Web development with ASP.NET Core MVC</li>
                    <li>Cloud development with Azure</li>
                </ul>
                <a href="https://dryicons.com/free-icons/coding">Icon by Dryicons</a>
            </div>
            @*<div class="card-footer">
                    <a href="#" class="btn btn-primary btn-sm">More Info</a>
                </div>*@
        </div>
    </div>
    <!-- /.col-md-4 -->

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                @*https://dryicons.com/icon/database-search-2790 *@
                <img class="card-body-img" src="~/Content/images/database_search.png" alt="" />
                <h2 class="card-title">Data</h2>
                <p class="card-text">We have been working with SQL Server for many years. We also work with CosmosDb, PostgresSQL and SQLite.</p>
                <p class="card-text">Outside of databases, we also use R to extract, analyse and visualise data.</p>
                <a href="https://dryicons.com/free-graphics/data-analytics?page=3">Icon by Dryicons</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                @*https://dryicons.com/icon/cloud-computing-icon-6459*@
                <img class="card-body-img" src="~/Content/images/cloud-computing.svg" alt="" />
                <h2 class="card-title">Cloud</h2>
                <p class="card-text">Tie your code and data together in the cloud</p>
                <p class="card-text">We work with Azure functions, Azure search, Continuous Integration and cloud hosting of websites in Azure and AWS.</p>
                <a href="https://dryicons.com/free-graphics/data-analytics">Icon by Dryicons</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->
